#backdrop{
    background-image: url(../images/backdrop-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:1000px;
    height:1000px;
}
body{
    background-color: black;
}

#gameover{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    opacity: 85%;
    background-image: linear-gradient(#2827276f, #4949496F), url(../images/gameover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999;
}

#health{
    position: absolute;
    top:215px;
    left: 25px;
    width:300px;
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}

@keyframes throwStarRight {
    from {
        transform: translateX(0);
    }
    to {
        left:975px;
    }
}

#knife{
    z-index: 99;
}

.starRight{
    position: absolute;
    /* left: 500px; */
    /* animation: throwStarRight linear 3s; */
}

.starLeft{
    position: absolute;
    /* left: 500px; */
    /* animation: throwStarLeft linear 3s; */
}

@keyframes throwStarLeft {
    from {
        transform: translateX(0);
      }
      to {
        left:25px;
      }
  }