

#backdrop{
    background-image: url(./images/backdrop-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:1000px;
    height:1000px;
}
body{
    background-color: black;
}
#bomb-desc{
    text-align: center;
    align-content: center;
    background-color:#1F3C74;
    color:#ED1C28;
    padding:15px;
    width:200px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 400px;
    border: 1px solid #ED1C28;
    font-size: 20px;
}

#bomb_ins{
    color:white;
}


  #bomb-desc::before,
  #bomb-desc::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: linear-gradient(45deg,#ED1C28,#1F3C74,#15C6A0,#FFEEA6,#e11d74,black,#FFEEA6,#aa0000);
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    animation: animate 25s linear infinite;
  }
  
  .shadow::after {
    filter: blur(25px);
  }
  
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }

#gameover{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    opacity: 85%;
    background-image: linear-gradient(#2827276f, #4949496F), url(./images/gameover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999;
}

#health{
    position: absolute;
    top:215px;
    left: 25px;
    width:300px;
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}

@keyframes throwStarRight {
    from {
        transform: translateX(0);
    }
    to {
        left:975px;
    }
}

#knife{
    z-index: 99;
}

.starRight{
    position: absolute;
    /* left: 500px; */
    /* animation: throwStarRight linear 3s; */
}

.starLeft{
    position: absolute;
    /* left: 500px; */
    /* animation: throwStarLeft linear 3s; */
}

@keyframes throwStarLeft {
    from {
        transform: translateX(0);
      }
      to {
        left:25px;
      }
  }